<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle Estimation</title>
</head>
<body>
<h1>Car Value Estimator</h1>

<form action="/" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Get an Estimate</legend>
        <label>Enter Car Specification</label>
        <input type="text" name="year" placeholder="Enter year of the car"/>
        <input type="text" name="make" placeholder="Enter make of the car"/>
        <input type="text" name="model" placeholder="Enter model of the car"/>
        <input type="text" name="mileage" placeholder="Enter mileage of the car"/>
        <input type="submit" value="Estimate"/>
    </fieldset>
</form>

</body>
</html>